<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Gestor de Tarefas</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="/output.css" rel="stylesheet">""
</head>
<body class="p-8 bg-gray-50 font-sans"></body>