<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://cdn.tailwindcss.com"></script>
  <title><%= title || 'Tarefas' %></title> <!-- <- Aqui pode usar o título passado pelo controller -->
</head>
<body class="bg-gray-100 p-6">
  <%- body %> <!-- Conteúdo será injetado aqui -->
</body>
</html>